#nav-main-container {
  display: flex;
}

#header {
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  padding-right: 1rem;
}

#logo {
  display: flex;
  flex-direction: column;
}

#main {
  height: 80vh;
  overflow: hidden;
  padding-left: 1rem;
  border-left: 1px solid gray;
}

#allRoutines {
  height: 100%;
  overflow: auto;
}
